<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/8593a80e63.js" crossorigin="anonymous"></script>
</head>

<body >
    <div>
      https://github.com/Sergihttps://github.com/SergioUB/SOIIUB.gitoUB/SOIIUB.githttps://github.com/SergioUB/SOIIUB.git
        <div class="footer-copyright text-left py-1 bg-idealista">
                <img src="{% static "img/logo.svg" %}" width="300px">
        </div>
    </div>
    <div class="footer-copyright text-left py-1 bg-">
             
            <a href="#" class="text-info"> <strong><< Volver al listado de resultados</strong></a>
            
        </div>
    <div class="container" style="margin-left:200px;">
          
        <div class="row justify-content-md-left">
           
     
        <div class="text-left col-8">              
        <img src="{% static "img/casa_prefabricada.jpg" %}" alt="Responsive image" class="rounded" style="width: 100%;">
        
      <br>
      <br>
       
        <form class="border bg-light"> 
        <h3><strong>Piso en venta en avenida Barcelona</strong></h3>
        <p>Peñamefercit- Avda Barcelona, Jaén </p>
        <p><strong>49.000€</strong></p>
        70 m² &nbsp | &nbsp 3 hab  2ª planta sin ascensor <br>
        <br>

        <button type="button" class="btnideal btn-default" style="width: 200px;"><strong><span class="glyphicon glyphicon-heart"style="color:red"></span> Guardar favorito</strong></button>
        <p><h4><strong>Comentario del anunciante</strong></h4></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, est nec dictum laoreet, tellus purus blandit ex, vel scelerisque neque nunc nec sem. Nullam suscipit sapien eget justo sagittis convallis. Ut tempus ornare imperdiet. Morbi eget arcu ullamcorper, convallis urna sed, mollis arcu. Vivamus non ipsum venenatis risus rutrum placerat eget eu dolor. Etiam vitae est neque. Donec semper sapien quis velit laoreet vehicula. Donec pharetra efficitur magna non tempus. Maecenas massa ante, vulputate in velit ut, eleifend molestie massa. Donec eu eros eget enim ultricies placerat vel eu lacus. Donec vel justo tempor, volutpat ex bibendum, fringilla lectus. Cras at posuere nisi. Morbi aliquam ullamcorper laoreet.</p>

        <div class="row">
        <div class="col-4">
          <h4><strong>Características básicas</strong></h4>
          <p>70 m² construidos</p>
          <p>3 habitaciones</p>
          <p>1 baño</p>
          
        </div>
        <div class="col-4">
          <h4><strong>Edificio</strong></h4>
          <p>Planta 2ª</p>
          <p>Sin ascensor</p>
        </div>  
        </div>
        </form>
      </div>
       <div class="margin-left col-4">
         <form class="bg-light">
           <h4><strong>Gracias por confiar en nosotros</strong></h4>

           <p>Esperando ideas para añadir a este campo</p>
           <p>
             <button class="btn btn-secondary btn-block rounded-0" type="submit" value="enviar">
            Boton de prueba
             </button>

            <img src="{% static "img/logo.svg" %}" width="300px">
        </button>


         </form>
       </div>
      
    </div>
                        
              
</div>
    
    <br><br><br><br><br>
    <footer class="d-flex flex-column footer font-small">
      <div class="footer-copyright text-center py-3 bg-light">

        <a>Oportunista Copyright &copy; 2019-2019</a>
      </div>
    </footer>
  </body>
  


</html>